.startbtn {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 1;
  z-index: 10000;
  cursor: pointer;
}
.startVR:hover{
  background: #eee;
}
.startVR {
  width: 100px;
  height: 50px;
  background: #fff;
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  opacity: 1;
  margin-left: -50px;
  margin-top: -25px;
  font-weight: bold;
  border-radius: 3px;
}
